/* COMMUNES */
@font-face {
  font-family: latoFont;
  src: url(../fonts/Lato-Bold.ttf);
}

html {
  font-family: latoFont;
}

body {
  margin: 0px;
  padding: 0px;
}

.pageContent {
  margin-top: 90px;
}

/* MENU DE NAVIGATION */
@font-face {
  font-family: sifonnFont;
  src: url(../fonts/SIFONN_PRO.otf);
}

nav li {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  position: fixed;
  top: 0px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10%;
  height: 80px;
  background-color: #E3BFC2;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 2rem;
}

.nav-link {
  font-size: 1.3rem;
  font-weight: 400;
  color: #FFFFFF;
}

.nav-link:hover{
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.3);
  padding: 5px 5px;
  border-radius: 5px;
  font-size: 1.4rem;
}

.nav-logo {
  margin: auto 0;
  font-family: sifonnFont;
  color: white;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: all 0.3s ease-in 0s;
  }

  .nav-menu.active {
    left: 0;
    padding-left: 0px;
    background-color: rgba(255, 255, 255, 0.9);
  }

  .nav-menu.active li {
    margin: 15px 0px;
  }

  .nav-item {
      margin: 2.5rem 0;
  }

  .nav-link {
    color: gray;
  }

  .nav-link:hover{
    background-color: #E3BFC2;
    color: white;
    padding: 5px 5px;
    border-radius: 5px;
    font-size: 1.4rem;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }

  .bar {
    background-color: white;
  }

  .hamburger.active .bar:nth-child(2) {
      opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      -webkit-transform: translateY(8px) rotate(45deg);
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      -webkit-transform: translateY(-8px) rotate(-45deg);
      transform: translateY(-8px) rotate(-45deg);
  }
}

/* FIN MENU DE NAVIGATION */

/* HEADER ET CAROUSSEL */
.heading {
  width: 100%;
  height: 300px;
  left: 0;
  background: rgba(0,0,0,0.7);
}

#firstSection {
  height: 300px;
  width: 100%;
  background-image: url(../img/bkg.jpg);
  background-size: cover;
}

#marqueh1 {
  font-size: 50px;
  color: #E3BFC2;
  font-family: sifonnFont;
  margin-bottom: 20px;
}

#firstSection p {
  color: white;
}

#headingContent {
  padding: 5px 50px;
}

.headingBtn {
  border-radius: 5px;
  border: none;
  height: 35px;
  padding: 5px 10px;
  font-weight: bold;
}

#firstBtn {
  background-color: #E3BFC2;
  cursor: pointer;
}

#secondBtn {
  background-color: #0085FF;
  color: white;
  cursor: pointer;
}

/* FIN HEADER ET CAROUSSEL */

/* CONTACT */
.contactform {
  width: 75%;
  margin: auto;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 40px;
}

#contactPage h2 {
  text-align: center;
  text-decoration: underline;
}

#contactHead h3 {
  text-align: left;
  font-style: italic;
  color: #0085FF;
  border-bottom: 2px solid lightgray;
}

.contactform .rows {
  margin-top: 20px;
}

.contactform img:not(#iptMessageImg) {
  height: 30px;
  vertical-align: middle;
}

#iptMessageImg {
  height: 30px;
  vertical-align: top;
}

.rows input {
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px 5px;
  height: 20px;
  margin-bottom: 20px;
}

.rows select {
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px 5px;
  margin-bottom: 24px;
}

.rows textarea {
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px 5px;
  width: 90%;
}

#iptFirstname {
  width: 50%;
  float: left;
}

#iptAge {
  width: 50%;
  float: left;
}

.sendBtn {
  background-color: #0085FF;
  color: white;
  height: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgb(0 0 0 / 30%);
}

.sendBtn:hover {
  background-color: #FFFFFF;
  color: #0085FF;
  border: 1px solid #0085FF;
  box-shadow: 2px 2px 2px rgb(0 0 0 / 30%);
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  #iptFirstname {
    width: 100%;
  }
  
  #iptAge {
    width: 100%;
  }
}
/* FIN DE CONTACT */

/* FOOTER */

footer{
  width: 100%;
  background: #101958;
}
footer .content{
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,a{
  color: #fff;
}
footer .content .box{
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic{
  font-weight: bold;
  color: #fff;
  margin-bottom: 16px;
}

footer .content p{
  text-align: justify;
}

footer .middle {
  text-align: center;
}

footer .content .middle a{
  line-height: 32px;
}

#firstColumn {
  display: grid;
  width: 50%;
  float: left;
}

.socials img {
  height: 36px;
}

#secondColumn {
  display: grid;
  width: 50%;
}

footer .bottom{
  width: 100%;
  text-align: center;
  color: #d9d9d9;
  padding-bottom: 5px;
  border-top: 2px solid rgba(211, 211, 211, 0.5);
}

@media (max-width:768px){
  footer{
    text-align: center;
  }
  footer .content .box{
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle{
    padding-left: 0;
  }
}

/* FIN DU FOOTER */